@-webkit-keyframes sinusoid {
    0%, 50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(.2, .25, .55, 1);
        animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
}
@keyframes sinusoid {
    0%, 50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(.2, .25, .55, 1);
        animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
}

.test{
	background: blue;
}

.firebase-effect{
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: sinusoid 3s ease infinite;
    animation: sinusoid 3s ease infinite;
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s;
}

.imageContainer{
	margin-top:30px;
}