<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<title>Abelito</title>
</head>
<body ng-controller="AppController">

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #770000;">
		<div class="container">
		  <a class="navbar-brand" href="#">Abel</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Nosotros</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="http://getbootstrap.com/docs/4.0/components/alerts/">Bootstrap</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
		  <h1 class="display-3">Abelito bien rankeao</h1>
		  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		  </p>
		</div>
	</div>

	<!-- Alerts -->
	<div class="container">
		<h1>Alerts</h1>	
		<button type="button" class="btn btn-success" ng-click="showSuccessAlertClick()">Mostrar Exito</button>
		<button type="button" class="btn btn-warning" ng-click="showWarningAlertClick()">Mostrar Advertencia</button>
		<button type="button" class="btn btn-danger" ng-click="showErrorAlertClick()">Mostrar Error</button>
		<button type="button" class="btn btn-dark" ng-click="hideAlertClick()">Esconder Alertas</button>
		<br><br>
		<div ng-show="showSuccessAlert" class="alert alert-success" role="alert">
		  This is a dark alert—check it out!
		  <h4>Test</h4>
		</div>

		<div ng-show="showWarningAlert" class="alert alert-warning" role="alert">
		  This is a dark alert—check it out!
		  <hr>

		</div>

		<div ng-show="showErrorAlert" class="alert alert-danger" role="alert">
		  This is a dark alert—check it out!
		  <h1>Test</h1>
		</div>	
	</div>
	<!-- Fin Alerts -->


	<!-- Badges -->
	<div class="container">
		<h1>Badges</h1>
		<button class="btn" ng-click="clickBadge()">
			Blah
				<span class="badge badge-secondary">{{badgeCounter}}</span>
		</button>
	</div>
	<!-- Fin Badges -->


	<!-- Breadcrumb -->
	<div class="container" style="margin-top: 20px;">
		<h1>Breadcrumb</h1>
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="#">Home</a></li>
		  <li class="breadcrumb-item"><a href="#">Library</a></li>
		  <li class="breadcrumb-item active">Data</li>
		</ol>
	</div>
	<!-- Fin Breadcrumb -->

	<!-- Button Toggle -->
	<div class="container">
		<h1>Button Toggle</h1>
		<button type="button" class="btn btn-primary" data-toggle="button" data-target="#buttonToggle">
		  Single toggle
		</button>
		<button class="btn btn-primary active" id="buttonToggle" aria-pressed="true">
		  Target
		</button>
	</div>
	<!-- Fin Button Toggle -->

	<!-- Button Group -->
		<div class="container" style="margin-top: 20px;">
			<h1>Button Group</h1>
			<div class="btn-group" role="group" aria-label="Basic example button group">
				<a href="#idBebe" class="btn btn-primary" ng-click="showBebeClick()">Bebe</a>
				<button type="button" class="btn btn-secondary">Segundo</button>
				<button type="button" class="btn btn-success">Tercero</button>
				<button type="button" class="btn btn-dark">Cuarto</button>
				<button type="button" class="btn btn-light">Quinto</button>
				<button type="button" class="btn btn-warning">Sexto</button>
				<button type="button" class="btn btn-danger" ng-click="clickBadge()">Septimo</button>
			</div>
		</div>
	<!-- Fin Button Group -->

	<!-- Firebase Test -->
	<div class="container imageContainer" ng-show="showBebe" id="idBebe">
		<img width="200px" src="css/images/bebe.png" class="firebase-effect">
	</div>
	<!-- Fin Firebase Test -->

	<!-- Cards -->
	<div class="card text-center" style="width: 40rem;">
		<h2 class="card-header">
	    Featured
	  	</h2>
		<div class="card-body">
			<img class="card-img-top" src="css/images/perro.jpg" alt="Card image cap">
		</div>
		<div class="card-body">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    <h4 class="card-title">Card title</h4>
	    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="card-link">Card link</a>
	    <a href="#" class="card-link">Another link</a>
	  </div>
	</div>
	<div class="card" style="width: 20rem;">
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>
	<div class="card" style="width: 50rem;">
		<div class="card-body">
			<blockquote class="blockquote mb-10">
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
		    </blockquote>
		</div>
	</div>
	<div class="container">
		<div class="row">
		  <div class="col-sm-12 col-lg-6">
		    <div class="card">
		      <div class="card-body">
		        <h4 class="card-title">Special title treatment</h4>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-12 col-lg-6">
		    <div class="card">
		      <div class="card-body">
		        <h4 class="card-title">Special title treatment</h4>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- Fin Cards -->

</body>
</html>